<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Webapp</title>
    <base href="<%= htmlWebpackPlugin.options.base %>"></base>

    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/> -->
  </head>
  <body>
    <div id="root"></div>
    <canvas id="my-canvas"></canvas>
  </body>
</html>
